@model Team

<div class="card" style="width: 18rem;">
    <img src="@Model.Logo" height="250" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            <div>Players: @Model.Players</div>
            <div>Country: @Model.Country</div>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>