@model List<Team>

<div class="card text-center">
    <div class="card-header">
        Favourites
    </div>
    <div class="card-body">
        <h5 class="card-title">Football Club List</h5>

        <ul class="list-group">
            @foreach (var i in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Club: @i.Name - @i.Country
                    <a class="btn btn-outline-danger btn-sm" asp-action="Remove" asp-route-id="@i.Id">-</a>
                </li>
            }
        </ul>
        
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Go to Home</a>
    </div>
    <div class="card-footer text-muted">
        Count: @Model.Count
    </div>
</div>