@model IEnumerable<Team>;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can find suitable product for your needs...</p>
</div>

@* <div class="block"> *@
@*     <img class="text-center" src="https://media0.giphy.com/media/iLMOW1wJp8DuuMoMDY/200w.gif?cid=6c09b952gg1w9q8039w7w0vqhime2w49cwo5br22urivgshp&ep=v1_gifs_search&rid=200w.gif&ct=g" alt=""> *@
@* </div> *@

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
@foreach (var i in Model)
{
    <div class="col">
        <partial name="_ClubCardPartial" model="@i"/>
    </div>
}
</div>
